@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  background-color: #0f172a;
}

body {
  @apply bg-dark text-slate-200;
  margin: 0;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}